<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-sans text-gray-800 flex items-center justify-center h-screen">
    <div class="text-center">
        <div id="shortened-url" class="text-red-600 text-2xl font-semibold">
            <%= Error %>
        </div>
    </div>
</body>
</html>
